<html layout:decorate="~{usr/layout/layout.html}">

<head>
  <title>알림 세부 정보</title>
</head>

<body>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
  <div class="max-w-2xl w-full px-4">
    <h1 class="mb-4">
      <i class="fa-regular fa-bell"></i>
      정보
    </h1>
    <div class="flex flex-col gap-4">
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <div class="flex flex-col gap-2">
            <div class="mt-4">
              <div>
                <i class="fa-solid fa-person-half-dress"></i>
                성별
              </div>
              <div class="mt-2">
                <span class="badge badge-primary"
                      th:utext="${notification.getGenderDisplayName()}"></span>
              </div>
            </div>
            <div class="mt-4">
              <div>
                <i class="fa-brands fa-instagram"></i>
                호감을 표시해준 분의 인스타 아이디
              </div>
              <div class="mt-2">
                <span class="badge badge-primary" th:text="${notification.fromInstaMember.getUsername()}"></span>
              </div>
            </div>

            <div class="mt-4">
              <div>
                <i class="fa-brands fa-instagram"></i>
                호감을 표시해준 분의 계정 둘러보기
              </div>
              <div class="mt-2">
                <a th:href="@{|https://instagram.com/${notification.fromInstaMember.getUsername()}|}" target="_blank"
                   class="block mt-3 text-sm break-all underline text-blue-400">
                  <span>https://instagram.com/</span><span class="text-red-300" th:text="${notification.fromInstaMember.getUsername()}"></span>
                </a>
              </div>
            </div>
            <div>
              <i class="fa-regular fa-clock"></i>
              읽은시간
            </div>
            <div>
              <span class="badge badge-primary"
                    th:text="|${#temporals.format(notification.readDate, 'yy.MM.dd HH:mm')}|"></span>
              <i class="fa-solid fa-fire text-red-500"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


</body>

</html>

